$primaryColor: red;
$timeColor: rgb(54, 175, 64);
$realityColor: rgb(175, 98, 54);
$mindColor: rgb(157, 175, 54);
$soulColor: rgb(175, 68, 54);
$powerColor: rgb(175, 54, 165);
$spaceColor: rgb(56, 54, 175);

@import "./arc_reactor";
@import "./btn";
@import "./tabs_skills";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: url("../images/black_bg.jpg") no-repeat center center/cover;
  min-height: 100vh;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
::-webkit-scrollbar {
  width: 0px;
} 
.loader {
  background: radial-gradient(#353c44, #222931);
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  margin-top: 1rem;
}
.main-header {
  @include flexCenter();
  min-height: 100vh;
  .content {
    h1 {
      font-size: 2rem;
      line-height: 0.5rem;
      padding: 1rem;
      margin: 0;
      font-weight: 900;
    }
    margin-right: 12rem;
  }
  .scrollDown {
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 50%;
    cursor: pointer;
    bottom: 5%;
    transition: 0.3s;
    display: flex;
    a {
      transition: 0.5s;
      &:hover {
        transform: translateY(-40%);
      }
    }
  }
}
.hidden {
  display: none !important;
}

.projects {
  @include flexCenter();
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  .heading {
    position: absolute;
    left: 5%;
    top: 10px;
  }

  p {
    font-family: "Roboto", sans-serif;
  }
  .main-projects {
    display: grid;
    grid-template-columns: 3fr 3fr;
    height: 70vh;
    max-width: 100vw;
    .carousel {
      img {
        width: 100px !important;
      }

      // width:900px!importa  nt;
    }

    // .stones {
    //   @include flexCenter();
    //   min-width: 500px;
    //   min-height: 500px;

    //   position: relative;
    //   div {
    //     position: absolute;
    //   }
    // }
    img {
      cursor: pointer;
      // an imation: rotate 10s infinite ease-in-out;
      transition: 1s;
    }
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
    .space {
      transition: 0.5s;

      // top: 139px;
      // right: 220px;

      filter: drop-shadow(5px 5px 5px $spaceColor);
      &:hover {
        img {
          filter: drop-shadow(15px 15px 15px $spaceColor);
        }
      }
    }
    .power {
      transition: 0.5s;
      // top: 139px;
      // right: 170px;
      filter: drop-shadow(5px 5px 5px $powerColor);
      &:hover {
        img {
          filter: drop-shadow(15px 15px 15px $powerColor);
        }
      }
    }
    .mind {
      // top: 240px;
      // right: 235px;
      transition: 0.5s;
      filter: drop-shadow(5px 5px 5px $mindColor);
      &:hover {
        img {
          filter: drop-shadow(15px 15px 15px $mindColor);
        }
      }
    }
    .time {
      // bottom: 272px;
      // left: 93px;
      transition: 0.5s;
      filter: drop-shadow(5px 5px 5px $timeColor);
      &:hover {
        img {
          filter: drop-shadow(15px 15px 15px $timeColor);
        }
      }
    }
    .soul {
      // top: 139px;
      // right: 318px;
      transition: 0.5s;
      filter: drop-shadow(5px 5px 5px $soulColor);
      &:hover {
        img {
          filter: drop-shadow(15px 15px 15px $soulColor);
        }
      }
    }
    .reality {
      // top: 139px;
      // right: 265px;
      transition: 0.5s;
      filter: drop-shadow(5px 5px 5px $realityColor);
      &:hover {
        img {
          filter: drop-shadow(15px 15px 15px $realityColor);
        }
      }
    }
    .scrollDown2 {
      position: absolute;
      justify-content: center;
      align-items: center;
      right: 50%;
      cursor: pointer;
      bottom: 0%;
      transition: 0.3s;
      display: flex;
      a {
        transition: 0.5s;
        &:hover {
          transform: translateY(-40%);
        }
      }
    }
  }
}
.contactMe {
  @include flexCenter();
  flex-direction: column;
  position: relative;
  .scrollDown3 {
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0%;
    cursor: pointer;
    bottom: 5%;
    transition: 0.3s;
    display: flex;
    a {
      transition: 0.5s;
      &:hover {
        transform: translateY(-40%);
      }
    }
  }
  justify-content: space-evenly;
  input {
    color: #fff;
  }
  h1 {
    font-size: 2rem;
    line-height: 0.5rem;
    padding: 1rem;
    margin: 0;
    font-weight: 900;
  }
  footer {
    width: 100%;
    @include flexCenter();
    justify-content: space-evenly;
    a {
      color: #fff;
      transition: 0.5s;
    }
    a:hover {
      filter: drop-shadow(5px 5px 5px $realityColor);
    }
  }
}
.skills {
  @include flexCenter();
  flex-direction: column;
  justify-content: end;
  font-weight: 600;
  position: relative;
  .card-title {
    font-weight: 900 !important;
  }
  .card-reveal {
    p {
      color: #333 !important;
    }
  }
  .card {
    width: 300px;
    height: 300px;
  }
  .cards {
    @include flexCenter();
    grid-gap: 1rem;
  }
  .card-reveal {
    width: 300px;
    height: 400px;
  }
  h1,
  h2 {
    font-size: 2rem;
    line-height: 0.5rem;
    padding: 1.5rem;
    margin: 0;
    font-weight: 900;
  }
  .tabbed-component__button {
    width: max-content;
    padding: 0.3rem;
  }
  .scrollDown3 {
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 50%;
    cursor: pointer;
    bottom: 5%;
    transition: 0.3s;
    display: flex;
    a {
      transition: 0.5s;
      &:hover {
        transform: translateY(-40%);
      }
    }
  }
}
