@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.fullpage-wrapper {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#353c44, #222931);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullpage-wrapper2 {
  width: 100%;
  min-height: 10vh;
  background: radial-gradient(#353c44, #222931);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reactor-container {
  min-width: 300px;
  height: 300px;
  margin: auto;
  border: 1px dashed #888;
  position: relative;
  border-radius: 50%;
  background-color: #384c50;
  border: 1px solid #121414;
  -webkit-box-shadow: 0px 0px 32px 8px #121414, 0px 0px 4px 1px #121414 inset;
          box-shadow: 0px 0px 32px 8px #121414, 0px 0px 4px 1px #121414 inset;
}

.reactor-container-inner {
  height: 238px;
  width: 238px;
  background-color: #161a1b;
  -webkit-box-shadow: 0px 0px 4px 1px #52fefe;
          box-shadow: 0px 0px 4px 1px #52fefe;
}

.circle {
  border-radius: 50%;
}

.abs-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.core-inner {
  width: 70px;
  height: 70px;
  border: 5px solid #1b4e5f;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 7px 5px #52fefe, 0px 0px 10px 10px #52fefe inset;
          box-shadow: 0px 0px 7px 5px #52fefe, 0px 0px 10px 10px #52fefe inset;
}

.core-outer {
  width: 120px;
  height: 120px;
  border: 1px solid #52fefe;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 2px 1px #52fefe, 0px 0px 10px 5px #52fefe inset;
          box-shadow: 0px 0px 2px 1px #52fefe, 0px 0px 10px 5px #52fefe inset;
}

.core-wrapper {
  width: 180px;
  height: 180px;
  background-color: #073c4b;
  -webkit-box-shadow: 0px 0px 5px 4px #52fefe, 0px 0px 6px 2px #52fefe inset;
          box-shadow: 0px 0px 5px 4px #52fefe, 0px 0px 6px 2px #52fefe inset;
}

.tunnel {
  width: 220px;
  height: 220px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px #52fefe, 0px 0px 5px 4px #52fefe inset;
          box-shadow: 0px 0px 5px 1px #52fefe, 0px 0px 5px 4px #52fefe inset;
}

.coil-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: 3s infinite linear reactor-anim;
          animation: 3s infinite linear reactor-anim;
}

.coil {
  position: absolute;
  width: 30px;
  height: 20px;
  top: calc(50% - 110px);
  left: calc(50% - 15px);
  -webkit-transform-origin: 15px 110px;
          transform-origin: 15px 110px;
  background-color: #073c4b;
  -webkit-box-shadow: 0px 0px 5px #52fefe inset;
          box-shadow: 0px 0px 5px #52fefe inset;
}

.coil-1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.coil-2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.coil-3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.coil-4 {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.coil-5 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.coil-6 {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.coil-7 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.coil-8 {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

@-webkit-keyframes reactor-anim {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes reactor-anim {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.angled-gradient-button {
  background-size: 220%;
  -webkit-box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
  color: #52fefe;
  background-color: transparent;
  background-position: 100%;
  border: 3px solid #52fefe;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 3px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 2px;
  background-image: linear-gradient(110deg, #52fefe 0%, #52fefe 50%, transparent 50%, transparent 100%);
  font-size: 14px;
}

.angled-gradient-button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
  background-position: 0;
  color: #333;
}

.angled-gradient-button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.tabbed-component {
  width: 50rem;
  max-width: 100%;
  min-height: 100vh;
  font-size: 1rem;
}

.tabbed-component__section {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
}

.tabbed-component__container {
  width: 100%;
}

.tabbed-component__button:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: -0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: -0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.tabbed-component__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  margin: 1rem;
}

.tabbed-component__button {
  background-size: 220%;
  outline: none;
  font-family: inherit;
  -webkit-box-shadow: -0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: -0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
  color: #54b1b1;
  width: 100%;
  border: 0.2rem solid #54b1b1;
  text-transform: uppercase;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  -webkit-transition: all 0.2s, background-position 0.35s ease;
  transition: all 0.2s, background-position 0.35s ease;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 2px;
  background-image: linear-gradient(45deg, #fff 0, #fff 50%, #54b1b1 50%, #54b1b1 100%);
  font-size: 1.2em;
}

.tabbed-component__item--active > .tabbed-component__button {
  background-position: 100%;
  color: #fff;
}

.tabbed-component__item:not(:last-of-type) {
  margin-right: 0;
}

.tabbed-component__button:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
}

.tabbed-component__section--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}

.tabbed-component__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("../images/black_bg.jpg") no-repeat center center/cover;
  min-height: 100vh;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
}

.loader {
  background: radial-gradient(#353c44, #222931);
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

iframe {
  margin-top: 1rem;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.main-header .content {
  margin-right: 12rem;
}

.main-header .content h1 {
  font-size: 2rem;
  line-height: 0.5rem;
  padding: 1rem;
  margin: 0;
  font-weight: 900;
}

.main-header .scrollDown {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50%;
  cursor: pointer;
  bottom: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header .scrollDown a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-header .scrollDown a:hover {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.hidden {
  display: none !important;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects h1 {
  font-size: 2rem;
  font-weight: 900;
}

.projects .heading {
  position: absolute;
  left: 5%;
  top: 10px;
}

.projects p {
  font-family: "Roboto", sans-serif;
}

.projects .main-projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr;
      grid-template-columns: 3fr 3fr;
  height: 70vh;
  max-width: 100vw;
}

.projects .main-projects .carousel img {
  width: 100px !important;
}

.projects .main-projects img {
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.projects .main-projects .space {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(5px 5px 5px #3836af);
          filter: drop-shadow(5px 5px 5px #3836af);
}

.projects .main-projects .space:hover img {
  -webkit-filter: drop-shadow(15px 15px 15px #3836af);
          filter: drop-shadow(15px 15px 15px #3836af);
}

.projects .main-projects .power {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(5px 5px 5px #af36a5);
          filter: drop-shadow(5px 5px 5px #af36a5);
}

.projects .main-projects .power:hover img {
  -webkit-filter: drop-shadow(15px 15px 15px #af36a5);
          filter: drop-shadow(15px 15px 15px #af36a5);
}

.projects .main-projects .mind {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(5px 5px 5px #9daf36);
          filter: drop-shadow(5px 5px 5px #9daf36);
}

.projects .main-projects .mind:hover img {
  -webkit-filter: drop-shadow(15px 15px 15px #9daf36);
          filter: drop-shadow(15px 15px 15px #9daf36);
}

.projects .main-projects .time {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(5px 5px 5px #36af40);
          filter: drop-shadow(5px 5px 5px #36af40);
}

.projects .main-projects .time:hover img {
  -webkit-filter: drop-shadow(15px 15px 15px #36af40);
          filter: drop-shadow(15px 15px 15px #36af40);
}

.projects .main-projects .soul {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(5px 5px 5px #af4436);
          filter: drop-shadow(5px 5px 5px #af4436);
}

.projects .main-projects .soul:hover img {
  -webkit-filter: drop-shadow(15px 15px 15px #af4436);
          filter: drop-shadow(15px 15px 15px #af4436);
}

.projects .main-projects .reality {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(5px 5px 5px #af6236);
          filter: drop-shadow(5px 5px 5px #af6236);
}

.projects .main-projects .reality:hover img {
  -webkit-filter: drop-shadow(15px 15px 15px #af6236);
          filter: drop-shadow(15px 15px 15px #af6236);
}

.projects .main-projects .scrollDown2 {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50%;
  cursor: pointer;
  bottom: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .main-projects .scrollDown2 a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects .main-projects .scrollDown2 a:hover {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactMe .scrollDown3 {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0%;
  cursor: pointer;
  bottom: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactMe .scrollDown3 a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactMe .scrollDown3 a:hover {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.contactMe input {
  color: #fff;
}

.contactMe h1 {
  font-size: 2rem;
  line-height: 0.5rem;
  padding: 1rem;
  margin: 0;
  font-weight: 900;
}

.contactMe footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactMe footer a {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactMe footer a:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #af6236);
          filter: drop-shadow(5px 5px 5px #af6236);
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 600;
  position: relative;
}

.skills .card-title {
  font-weight: 900 !important;
}

.skills .card-reveal p {
  color: #333 !important;
}

.skills .card {
  width: 300px;
  height: 300px;
}

.skills .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

.skills .card-reveal {
  width: 300px;
  height: 400px;
}

.skills h1,
.skills h2 {
  font-size: 2rem;
  line-height: 0.5rem;
  padding: 1.5rem;
  margin: 0;
  font-weight: 900;
}

.skills .tabbed-component__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.3rem;
}

.skills .scrollDown3 {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50%;
  cursor: pointer;
  bottom: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .scrollDown3 a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skills .scrollDown3 a:hover {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}
/*# sourceMappingURL=style.css.map */